In [1]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [ ]:
!pip install simpledbf

In [ ]:
import pandas as pd
from simpledbf import Dbf5
dbf = Dbf5('./DENGBRDBF/DENGBR15.dbf')
df = dbf.to_dataframe()

In [ ]:
df.to_csv('dengue15.csv')

In [ ]:
df2 = pd.read_csv('dengue15.csv')

In [21]:
# df[df['DT_NOTIFIC']]
from datetime import datetime, date
datetime.today().date().year
df[df['DT_NOTIFIC'].apply(lambda x: x.year == 2015)]['DT_NOTIFIC']
df 
list()
dict()
{
    'col1': [1, 2, 3, 4, 5],
    'col2': [2, 3, 4, 5, 6]
}

0          2015-03-26
1          2015-05-19
2          2015-09-12
3          2015-08-05
4          2015-05-08
              ...
2398055    2015-01-23
2398056    2015-01-27
2398057    2015-01-27
2398058    2015-01-26
2398059    2015-02-01
Name: DT_NOTIFIC, Length: 2392185, dtype: object

In [51]:
d = {
    'comida': ['abacate', 'banana', 'carambola', 'damasco', 'empanado', 'figado', 'gelinho', 'hortelã'],
    'tipo': ['fruta', 'fruta', 'fruta', 'fruta', 'salgado', 'carne', 'doce', 'legume'],
    'preco': [21, 10, 12, 55, 5, 40, 5, 10]
}
df3 = pd.DataFrame(d)
df3['comida'][6]
df3[df3['tipo'] == 'fruta']
df3[df3['preco'] == 10].reset_index(drop=True)
def calcula_preco(preco):
    if preco <= 10: return preco * 2
    if preco <= 20: return preco * 1.8
    if preco <= 30: return preco * 1.6
    if preco <= 40: return preco * 1.4
    return preco * 1.2
    
df3['preco'] = df3['preco'].apply(lambda x: calcula_preco(x))
df3

      comida     tipo  preco
0    abacate    fruta     42
1     banana    fruta     20
2  carambola    fruta     24
3    damasco    fruta    110
4   empanado  salgado     10
5     figado    carne     80
6    gelinho     doce     10
7    hortelã   legume     20