In [24]:
import pandas as pd
arquivos = (
    'HIST_PAINEL_COVIDBR_2020_Parte1.csv',
    'HIST_PAINEL_COVIDBR_2020_Parte2.csv',
    'HIST_PAINEL_COVIDBR_2021_Parte1.csv',
    'HIST_PAINEL_COVIDBR_2021_Parte2.csv',
    'HIST_PAINEL_COVIDBR_2022_Parte1.csv',
    'HIST_PAINEL_COVIDBR_2022_Parte2.csv',
    'HIST_PAINEL_COVIDBR_2023_Parte1.csv',
)
df_covid = pd.DataFrame({})
for i, df_lido in enumerate([pd.read_csv(f'./Bases/COVID/{arquivo}', sep=';') for arquivo in arquivos]):
    if i == 0: df_covid = df_lido
    else: df_covid = pd.concat([df_covid, df_lido], ignore_index=True)

In [30]:
df_casos = df_covid[df_covid['regiao'] == 'Brasil'].sort_values('data')[['data', 'casosNovos']]
df_casos

               data  casosNovos
0        2020-02-25           0
1        2020-02-26           1
2        2020-02-27           0
3        2020-02-28           0
4        2020-02-29           1
...             ...         ...
5676169  2023-04-22       42186
5676170  2023-04-23           0
5676171  2023-04-24           0
5676172  2023-04-25           0
5676173  2023-04-26           0

[1157 rows x 2 columns]

               data  casosNovos
0        2020-02-25           0
1        2020-02-26           1
2        2020-02-27           0
3        2020-02-28           0
4        2020-02-29           1
...             ...         ...
5676169  2023-04-22       42186
5676170  2023-04-23           0
5676171  2023-04-24           0
5676172  2023-04-25           0
5676173  2023-04-26           0

[1157 rows x 2 columns]