In [12]:
import pandas as pd
from datetime import datetime, date, timedelta
import sqlite3

# Create your connection.
cnx = sqlite3.connect('db.sqlite')

In [1]:
arquivos = (
    'HIST_PAINEL_COVIDBR_2020_Parte1.csv',
    'HIST_PAINEL_COVIDBR_2020_Parte2.csv',
    'HIST_PAINEL_COVIDBR_2021_Parte1.csv',
    'HIST_PAINEL_COVIDBR_2021_Parte2.csv',
    'HIST_PAINEL_COVIDBR_2022_Parte1.csv',
    'HIST_PAINEL_COVIDBR_2022_Parte2.csv',
    'HIST_PAINEL_COVIDBR_2023_Parte1.csv',
)
df_covid = pd.DataFrame({})
for i, df_lido in enumerate([pd.read_csv(f'./Bases/COVID/{arquivo}', sep=';') for arquivo in arquivos]):
    if i == 0: df_covid = df_lido
    else: df_covid = pd.concat([df_covid, df_lido], ignore_index=True)

In [13]:

df_casos = df_covid[df_covid['regiao'] == 'Brasil'].sort_values('data')[['data', 'casosNovos']]
df_casos['data'] = df_casos['data'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [17]:
df_casos.groupby(pd.Grouper(key='data', freq='W')).sum().to_sql(name='casos_covid_semanal', con=cnx)

            casosNovos
data
2020-03-01           2
2020-03-08          23
2020-03-15         175
2020-03-22        1346
2020-03-29        2710
...                ...
2023-04-02       60591
2023-04-09       38838
2023-04-16       49140
2023-04-23       42186
2023-04-30           0

[166 rows x 1 columns]

In [5]:
df_covid.to_sql(name='casos_covid_raw', con=cnx)

6327862